.body_wrapper {
  z-index: 20;
  overflow: hidden;
}

/*============== menu css ==============*/

@media (min-width: 992px) {
  .mobile_btn {
    visibility: hidden;
    display: none;
  }
}

.menu_four .btn_get {
  border: 2px solid #fff;
  box-shadow: none;
}
.menu_four .btn_get_radious {
  background: transparent;
}
.menu_four .btn_get {
  border-color: #fff;
  padding: 0 30px;
  background: #fff;
  min-width: 120px;
  text-align: center;
}
.menu_one .btn_get {
  margin-left: 40px;
}
.btn_get_radious {
  border-radius: 45px;
  border-width: 1px;
  color: #fff;
  background: #fff;
  box-shadow: none;
  padding: 0 28px;
  line-height: 45px;
}
.btn_get {
  font: 500 14px/47px Poppins,sans-serif;
  color: #6754e2;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  box-shadow: 0 20px 24px 0 rgba(0,11,40,.1);
  padding: 0 23px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 120px;
  text-align: center;
}
.btn_hover {
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  font-family: Poppins,sans-serif;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.btn, .btn:focus, .btn:hover, a, a:focus, a:hover, button, button:focus, button:hover {
  text-decoration: none;
  outline: none;
}
a {
  text-decoration: none!important;
}

.menu_four .btn_get {
  border: 2px solid #fff;
  box-shadow: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.menu > .nav-item + .nav-item {
  margin-left: 45px;
}

.w_menu .nav-item .nav-link:before {
  background: #fff;
}

.menu > .nav-item .nav-link.active:before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu>.nav-item>.nav-link {
  font: 500 15px Poppins,sans-serif;
  color: #051441;
  padding: 0;
  -webkit-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
  position: relative;
  cursor: pointer;
}

.menu>.nav-item .nav-link.active:before, .menu > .nav-item:hover .nav-link:before {
  width: 100%;
  left: 0;
  right: auto;
}

.navbar_fixed .header_area .w_menu .nav-item .nav-link {
  color: #051441;
}

.navbar_fixed .header_area .w_menu .nav-item .nav-link:before {
  background: #051441;
}

.header_area {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 20;
  top: 0;
}

.menu > .nav-item {
  position: relative;
  padding-bottom: 35px;
  padding-top: 35px;
}

.menu > .nav-item > .nav-link {
  font: 500 15px "Poppins", sans-serif;
  color: #051441;
  padding: 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
  cursor: pointer;
}

.menu > .nav-item > .nav-link:before {
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu > .nav-item > .nav-link:after {
  display: none;
}

.header_area {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar_fixed .header_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.navbar_fixed .header_area .menu_one {
  padding: 0px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.w_menu .nav-item .nav-link {
  color: #fff;
}

/*============== footer_area css ==============*/
.f_bg {
    background: #eff2f9;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(231, 236, 246, 0.004);
    box-shadow: 0px -1px 0px 0px rgba(231, 236, 246, 0.004);
  }

  .footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
  }
  
  .footer_bottom p a {
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }

  .footer_bottom .f_menu {
    margin-bottom: 0px;
  }
  
  .footer_bottom .f_menu li {
    display: inline-block;
    position: relative;
  }
  
  .footer_bottom .f_menu li a {
    color: #7f88a6;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  
  .footer_bottom .f_menu li a:hover {
    color: #004B8E;
  }
  
  .footer_bottom .f_menu li + li {
    margin-left: 16px;
  }
  
  .footer_bottom .f_menu li + li:before {
    content: "";
    width: 1px;
    height: 12px;
    background: #b1b7ca;
    display: inline-block;
    margin-right: 18px;
    vertical-align: middle;
  }
  
  .footer_bottom a:hover {
    color: #6754e2;
  }
  
  .f_social_icon_two a {
    font-size: 14px;
    color: #969db4;
    margin: 0px 8px;
  }





  